rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /luker/{luke} {
      allow read: if request.auth.uid != null;
              match /alternativer/{alt} {
          allow read: if request.auth.uid != null;
        }
    }
  }
}