.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.toolbarButtons{
  display: flex;
  justify-content: space-between;
}
.day{
  margin: 5px;
  width: 100px;
  height: 100px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alldays{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}

.signincard{
  padding: 10px;
}

.daybutton{
  font-size: 30pt;
}